<div class="cart-item-container">
    <div class="course-details">
    <span><b>{{this.lesson_name}} with {{this.instructor}}</b></span>
    <span><i>{{this.duration_min}} minutes</i></span>
    </div>
    <div>
        <button name="btn" value="{{@index}}" formaction="/cart">Remove</button>
    </div>
</div>