<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageDesc }} - Go Fitness</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/home.css"/>
    <link rel="stylesheet" href="/css/lessons.css"/>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
    
</head>

<body>
    <header>
        <h1>Go Fitness</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lessons">Lessons</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/admin">Admin</a></li>
                {{#if isLoggedIn}}
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <p>©2023 Go Fitness, Inc.</p>

        <div>
            <img src="images/facebook.png" alt="Facebook">
            <span>@Go Fitness</span>
            <img src="images/instagram.png" alt="Instagram">
            <span>@GoFitness</span>
            <img src="images/twitter.png" alt="Twitter">
            <span>@GoFitness</span>
        </div>
    </footer>

</body>
</html>