<form class="form-container" action={{ url }} method={{ httpMethod }}>
    <h2>{{ alertHeader }}</h2>

    <p id="alert-msg">{{ alertMsg }}</p>

    <button class="btn-container">Confirm</button>
</form>