<div id="home-section">
    <img src="images/banner.jpg" id="banner">
    <div id="banner-caption">
        <span>Less FAT,</span>
        <br/>
        <span>More LIFE.</span>
        <br/>
        <button>
            <a href="/lessons">See Lessons</a>
        </button>
    </div>
</div>