<form method="POST" class="form-container">
    <h2>LOGIN or REGISTER</h2>
    <input class="credential" type="email" name="email" placeholder="Enter email address" required>
    <br>
    <input class="credential" type="password" name="password" placeholder="Enter password" required>
    <div class="btn-container">
        <button class="left-btn" formaction="/login">Login</button>
        <button formaction="/register">Register</button>
    </div>

</form>