<form class="form-container" action="/register-membership" method="POST">
    <h2>CREATE AN ACCOUNT</h2>
    <label for="membership">Sign up as a member? ($75 per month)</label>
    <div>
        <button class="left-btn" name="subscribe" value="true">YES</button>
        <button name="subscribe" value="false">NO</button>
    </div>
</form>